@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translateY(60px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
body{
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.wrapper{
    width: 400px;
    margin:0 auto; 
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    color: #2b2839;
    background-color: #a7c957;
    border-bottom: 6px solid #6a994e;
    border-radius: 4px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    /* for smooth transition */
    text-shadow: 2px 2px 4px rgb(37, 68, 37) ;
    animation: fadeInUp 0.8s ease-out forwards;
}
.wrapper:hover{
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.9);
    transform: translateY(5px);

}
img{
    border-radius: 3px;
}
/* fontfamily: serif ,sans-serif */



/* RElative paths
./  current directory
../ parent directory
/ root directory */